<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-5 footer-left">
		   <p>
		     China University of Petroluem(Beijng)<br>
		     18 Fuxue Road, Changping<br>
		     Beijing 102249, China
		   </p>
		   <p class="footer-icons">
		     <a href="https://github.com/binwang.0213"><i class="fab fa-github"></i></a>
		   </p>
		</div>
		<div class="col-sm-7 footer-links">
		  We are part of:<br>
				  <a href="https://www.cup.edu.cn/english/"><img src="/images/logopic/CUPB-logo.jpg" class="img-responsive"></a>
		</div>
	  </div>
	  <center><p>Last updated on Jan 25, 2022 <br>  &copy 2021–{{ "now" | date: "%Y" }} Waterjet Drilling & Completion Lab <a href="/aboutwebsite">more › </p></center>
	</div>
  </div>
</div>

<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
